//
//  beta.xcconfig
//  iX-Yoke
//
//  Created by Daniel Dickison on 5/26/09.
//  Copyright 2009 Daniel_Dickison. All rights reserved.
//

#include "base.xcconfig"

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution
CODE_SIGN_ENTITLEMENTS = Build Configuration/Entitlements.plist
PROVISIONING_PROFILE[sdk=iphoneos*] = A9E127C3-B88D-400D-9D6F-94B4656B7286

