//
//  debug.xcconfig
//  iX-Yoke
//
//  Created by Daniel Dickison on 5/26/09.
//  Copyright 2009 Daniel_Dickison. All rights reserved.
//

#include "base.xcconfig"

ONLY_ACTIVE_ARCH = YES
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0

PRODUCT_NAME = Wi-Fly Dev
