//
//  base.xcconfig
//  iX-Yoke
//
//  Created by Daniel Dickison on 5/26/09.
//  Copyright 2009 Daniel_Dickison. All rights reserved.
//


ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos3.0
IPHONEOS_DEPLOYMENT_TARGET = 3.0
CODE_SIGN_IDENTITY = 
PREBINDING = NO
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES

INFOPLIST_FILE = iX_Yoke-Info.plist
PRODUCT_NAME = WiFlyRemote
ALWAYS_SEARCH_USER_PATHS = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = iX_Yoke_Prefix.pch
